div[class*='eng-wrap'] {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.eng-wrap {
  &__55 {
    width: 55%;
  }

  &__70 {
    width: 70%;
  }
}

@include media_m {
  .eng-wrap {
    &__55 {
      width: 72.5%;
    }

    &__70 {
      width: 80%;
    }
  }
}

@include media_xs {
  .eng-wrap {
    &__55 {
      width: 90%;
    }

    &__70 {
      width: 90%;
    }
  }
}
