.eng-lowerTit {
  color: $color-1;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  text-align: center;
}

@include media_m {
  .eng-lowerTit {
    font-size: 1.9rem;
  }
}

@include media_xs {
  .eng-lowerTit {
    font-size: 1.8rem;
  }
}
