.eng-problem {
  color: $white;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2.1;
  position: relative;
  text-align: center;

  &:nth-child(2) {
    margin: 0 1.8rem 0 3.5rem;
  }
}

@include media_m {
  .eng-problem {
    & > br {
      display: none;
    }

    &:nth-child(2) {
      margin: 0;
    }

    &:nth-child(n + 2) {
      margin-top: 0.6rem;
    }
  }
}
