.eng-lowerServiceSystem {
  padding-top: 3.6rem;
  position: relative;

  & p {
    color: $color-1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
  }

  &__price {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3.5rem 0 2.5rem;

    & > h3 {
      align-items: center;
      background-color: $color-1;
      color: $white;
      display: flex;
      font-size: 1.3rem;
      font-weight: 700;
      height: 5.6rem;
      justify-content: center;
      width: 17.5rem;
    }

    & > img {
      display: block;
      height: auto;
      margin: 0 2.2rem;
      width: 1.6rem;
    }
  }
}

@include media_m {
  .eng-lowerServiceSystem {
    padding-top: 3.3rem;

    &__price {
      margin: 3.2rem 0 2.3rem;

      & > h3 {
        font-size: 1.2rem;
        height: 5.1rem;
        width: 15.8rem;
      }

      & > img {
        margin: 0 2rem;
        width: 1.5rem;
      }
    }
  }
}

@include media_s {
  .eng-lowerServiceSystem {
    &__price {
      flex-direction: column;
      justify-content: flex-start;

      & > img {
        margin: 1.2rem 0;
      }
    }
  }
}

@include media_xs {
  .eng-lowerServiceSystem {
    padding-top: 3rem;

    &__price {
      margin: 2.9rem 0 2.1rem;

      & > h3 {
        font-size: 1.1rem;
        height: 4.6rem;
        width: 14.1rem;
      }

      & > img {
        margin: 1rem 0;
        width: 1.4rem;
      }
    }
  }
}
