.eng-lowerThanks {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  position: relative;

  & > a {
    color: $color-1;
    display: inline-block;
    font-family: $yu-gothic;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      color: $color-2;
      text-decoration: underline;
    }
  }

  & > p {
    color: $color-1;
    font-family: $yu-gothic;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 4.5rem;
    text-align: center;
  }
}

@include media_m {
  .eng-lowerThanks {
    padding: 4.5rem 0;

    & > p {
      margin-bottom: 4.1rem;
    }
  }
}

@include media_xs {
  .eng-lowerThanks {
    padding: 4rem 0;

    & > p {
      margin-bottom: 3.7rem;
    }
  }
}
