.eng-lowerContact {
  padding: 3.6rem 0 5.1rem;
  position: relative;

  &__main {
    & > p {
      color: $color-1;
      font-family: $yu-gothic;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 2.2rem;
    }
  }

  & form {
    & > div {
      &:nth-child(n + 3) {
        margin-top: 1.2rem;
      }

      &.kind {
        margin-top: 1.4rem;
      }

      &.privacy-policy {
        margin-top: 1.6rem;
        text-align: center;

        & input {
          margin-right: 0.5rem;
        }

        & label {
          margin: 0;
        }

        & .wpcf7-list-item {
          margin: 0;
        }

        & > p {
          &:nth-child(1) {
            color: $color-1;
            font-family: $yu-gothic;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1.6rem;

            & > a {
              color: $color-2;
              text-decoration: underline;

              &:hover {
                color: $color-1;
                text-decoration: underline;
              }
            }
          }
        }
      }

      &.submit {
        display: flex;
        justify-content: center;
        margin-top: 2.6rem;

        & > p {
          transform: translateX(36px);
        }
      }
    }

    & input[type="email"],
    & input[type="tel"],
    & input[type="text"],
    & textarea {
      border: 0.5px solid $color-1;
      color: $color-1;
      font-family: $yu-gothic;
      font-size: 0.8rem;
      font-weight: 500;
      padding: 0.9rem 1.2rem;
      width: 100%;

      &::placeholder {
        color: $color-7 !important;
      }
    }

    & input[type="radio"] {
      margin-right: 0.7rem;
    }

    & input[type="submit"] {
      background-color: $color-1;
      border-radius: 5px;
      color: $white;
      font-family: $yu-gothic;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.8rem 4.2rem;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;

      &:hover {
        background-color: $color-2;
      }
    }

    & label {
      color: $color-1;
      display: inline-block;
      font-family: $yu-gothic;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.6rem;

      & > strong {
        font-weight: 700;
      }
    }

    & textarea {
      height: 15rem;
    }

    & .wpcf7-radio {
      display: flex;
      flex-direction: column;

      & > span {
        margin: 0;

        &:nth-child(n + 2) {
          margin-top: 0.6rem;
        }

        & > label {
          margin: 0;
        }
      }
    }
  }
}

@include media_m {
  .eng-lowerContact {
    padding: 3.3rem 0 4.6rem;

    &__main {
      & > p {
        margin-bottom: 2rem;
      }
    }

    & form {
      & > div {
        &:nth-child(n + 3) {
          margin-top: 1.1rem;
        }

        &.kind {
          margin-top: 1.3rem;
        }

        &.privacy-policy {
          margin-top: 1.5rem;

          & > p {
            &:nth-child(1) {
              margin-bottom: 1.5rem;
            }
          }
        }

        &.submit {
          margin-top: 2.4rem;
        }
      }

      & input[type="email"],
      & input[type="tel"],
      & input[type="text"],
      & textarea {
        padding: 0.9rem 1.1rem;
      }

      & input[type="submit"] {
        padding: 0.8rem 3.8rem;
      }

      & textarea {
        height: 16.5rem;
      }
    }
  }
}

@include media_xs {
  .eng-lowerContact {
    padding: 3rem 0 4.1rem;

    &__main {
      & > p {
        margin-bottom: 1.8rem;
      }
    }

    & form {
      & > div {
        &:nth-child(n + 3) {
          margin-top: 1rem;
        }

        &.kind {
          margin-top: 1.2rem;
        }

        &.privacy-policy {
          margin-top: 1.4rem;

          & > p {
            &:nth-child(1) {
              margin-bottom: 1.4rem;
            }
          }
        }

        &.submit {
          margin-top: 2.2rem;
        }
      }

      & input[type="email"],
      & input[type="tel"],
      & input[type="text"],
      & textarea {
        padding: 0.9rem 1rem;
      }

      & input[type="submit"] {
        padding: 0.8rem 3.4rem;
      }

      & textarea {
        height: 18rem;
      }
    }
  }
}

