.eng-lowerServiceTable {
  padding: 5.6rem 0 3.8rem;
  position: relative;

  &__detailList {
    list-style: none;

    & > li {
      align-items: flex-start;
      display: flex;
      justify-content: center;

      &:nth-child(n + 2) {
        margin-top: 0.8rem;
      }

      & > img {
        display: block;
        flex-shrink: 0;
        height: auto;
        margin: 0.5rem 0.6rem 0 0;
        width: 0.9rem;
      }

      & > p {
        color: $color-1;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: $four-column-0_5;

    &:nth-child(n + 2) {
      margin-left: 0.5rem;
    }

    & > h3 {
      align-items: center;
      background-color: $color-1;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1rem;
      font-weight: 700;
      height: 4rem;
      line-height: 2;
      margin-top: 2rem;

      &.recommendation {
        background-color: $color-2;
        height: 6rem;
        margin-top: 0;
      }
    }
  }

  &__list {
    & > ul {
      display: flex;
      list-style: none;
      margin-top: 4.2rem;
    }
  }

  &__price {
    margin-bottom: 2.6rem;

    & > p {
      color: $color-1;

      &:nth-child(1) {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.3rem;

        &.recommendation {
          color: $color-2;
        }
      }

      &:nth-child(2) {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  &__txt {
    border: 0.5px solid $color-1;
    border-top: none;
    flex-grow: 1;
    padding: 1.8rem 1.5rem 5.8rem;
  }
}

@include media_l {
  .eng-lowerServiceTable {
    &__list {
      overflow-x: scroll;

      & > ul {
        margin: 4.2rem auto 0;
        width: 57rem;
      }
    }
  }
}

@include media_m {
  .eng-lowerServiceTable {
    padding: 5.1rem 0 3.5rem;

    &__list {
      & > ul {
        margin-top: 3.8rem;
      }
    }

    &__price {
      margin-bottom: 2.4rem;

      & > p {
        &:nth-child(1) {
          font-size: 1.4rem;
        }
      }
    }

    &__txt {
      padding: 1.7rem 1.4rem 5.3rem;
    }
  }
}

@include media_xs {
  .eng-lowerServiceTable {
    padding: 4.6rem 0 3.2rem;

    &__list {
      & > ul {
        margin-top: 3.4rem;
      }
    }

    &__price {
      margin-bottom: 2.2rem;

      & > p {
        &:nth-child(1) {
          font-size: 1.3rem;
        }
      }
    }

    &__txt {
      padding: 1.6rem 1.3rem 4.8rem;
    }
  }
}
