.eng-mainExample {
  background-color: $color-1;
  padding: 3.6rem 0 3.8rem;
  position: relative;

  &__img {
    align-items: flex-end;
    background-color: $white;
    display: flex;
    height: 10.8rem;
    justify-content: center;

    & > img {
      display: block;
      height: 80%;
      width: auto;
    }
  }

  &__info {
    display: flex;
    margin: 1rem 0 0.6rem;
  }

  &__item {
    width: $three-column-2;

    &:nth-child(n + 2) {
      margin-left: 2rem;
    }

    & p {
      align-items: center;
      background-color: $white;
      color: $color-1;
      display: flex;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.8;
      padding: 0.1rem 0.6rem;

      &.job {
        flex-shrink: 0;
        margin-right: 0.5rem;
        width: 6.2rem;
      }

      &.name {
        flex-grow: 1;
      }

      &.tit {
        background-color: transparent;
        color: $white;
        font-weight: 700;
        height: auto;
        margin-bottom: 0.6rem;
        padding: 0;
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin-top: 8.5rem;
  }
}

@include media_l {
  .eng-mainExample {
    &__info {
      flex-direction: column;
    }

    &__item {
      & p {
        &.job {
          margin: 0 0 0.6rem;
          width: 100%;
        }
      }
    }
  }
}

@include media_m {
  .eng-mainExample {
    padding: 3.3rem 0 3.5rem;

    &__img {
      height: 9.8rem;
    }

    &__item {
      width: $three-column-1;

      &:nth-child(n + 2) {
        margin-left: 1rem;
      }
    }

    &__list {
      margin-top: 7.7rem;
    }
  }
}

@include media_s {
  .eng-mainExample {
    &__item {
      width: $two-column-1;

      &:nth-child(n + 2) {
        margin-left: 0;
      }

      &:nth-child(2) {
        margin-left: 1rem;
      }

      &:nth-child(3) {
        margin: 1.8rem auto 0;
      }
    }

    &__list {
      flex-wrap: wrap;
      margin-top: 3.2rem;
    }
  }
}

@include media_xs {
  .eng-mainExample {
    padding: 3rem 0 3.2rem;

    &__img {
      height: 8.8rem;
    }

    &__item {
      width: $two-column-0_5;

      &:nth-child(n + 2) {
        margin-left: 0;
      }

      &:nth-child(2) {
        margin-left: 0.5rem;
      }

      &:nth-child(3) {
        margin: 1.6rem auto 0;
      }
    }

    &__list {
      margin-top: 2.9rem;
    }
  }
}
