.eng-mainExample {
  background-color: $color-1;
  padding: 3.6rem 0 3.8rem;
  position: relative;

  &__img {
    align-items: flex-end;
    background-color: $white;
    display: flex;
    height: 10.8rem;
    justify-content: center;

    & > img {
      display: block;
      height: 80%;
      width: auto;
    }
  }

  &__info {
    display: flex;
    margin: 1rem 0 0.6rem;
  }

  &__item {
    width: $three-column-2;

    &:nth-child(n + 2) {
      margin-left: 2rem;
    }

    & p {
      align-items: center;
      background-color: $white;
      color: $color-1;
      display: flex;
      font-size: 1rem;
      font-weight: 500;
      height: 2rem;
      line-height: 1.8;
      padding: 0 0.6rem;

      &.job {
        flex-shrink: 0;
        margin-right: 0.5rem;
        width: 6.2rem;
      }

      &.name {
        flex-grow: 1;
      }

      &.tit {
        background-color: transparent;
        color: $white;
        font-weight: 700;
        height: auto;
        margin-bottom: 0.6rem;
        padding: 0;
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin-top: 8.5rem;
  }
}
