// background-color, color
$black: #000000;
$color-1: #1B224C;
$color-2: #F5A623;
$color-3: #707070;
$color-4: #F8F8F8;
$color-5: #C3C3C3;
$linear-gradient-1: linear-gradient(transparent 70% , $color-2 70%);
$white: #ffffff;

// font-family
$sans-serif: 'Helvetica Neue', Arial, Meiryo, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
$serif: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'HG明朝E', 'MS P明朝', 'MS 明朝', serif;
$yu-gothic: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic';

// width
$two-column-4: calc((100% - 4rem) / 2);
$three-column-2: calc((100% - 2rem * 2) / 3);
$four-column-0_5: calc((100% - 0.5rem * 3) / 4);
