.eng-footer {
  position: relative;

  &__cont {
    background-color: $color-1;
  }

  &__copyright {
    padding: 0.7rem 0;
    text-align: right;

    & p {
      color: $color-1;
      font-size: 0.8rem;
      font-weight: 700;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    padding: 2.2rem 0 4.2rem;
  }

  &__left {
    margin-top: 0.5rem;

    & > ul {
      align-items: center;
      display: flex;
      list-style: none;
    }
  }

  &__logo {
    background-color: $white;
    padding: 0.8rem 0;
    width: 12.3rem;

    & > img {
      display: block;
      height: auto;
      margin: 0 auto;
      width: 80%;
    }
  }

  &__right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    & > p {
      color: $white;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  &__tel {
    align-items: center;
    display: flex;
    margin: 1.6rem 0 0.6rem;

    & > img {
      display: block;
      height: auto;
      margin-right: 0.4rem;
      width: 0.6rem;
    }

    & > p {
      color: $white;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

@include media_m {
  .eng-footer {
    &__flex {
      padding: 2rem 0 3.8rem;
    }

    &__logo {
      width: 11.1rem;
    }

    &__tel {
      margin: 1.5rem 0 0.6rem;
    }
  }
}

@include media_s {
  .eng-footer {
    &__copyright {
      text-align: center;
    }

    &__flex {
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      padding: 2rem 0;
    }

    &__left {
      margin: 0 0 1.8rem;
    }

    &__right {
      align-items: center;
    }
  }
}

@include media_xs {
  .eng-footer {
    &__flex {
      padding: 1.8rem 0;
    }

    &__left {
      margin: 0 0 1.6rem;
    }

    &__logo {
      width: 9.9rem;
    }

    &__tel {
      margin: 1.4rem 0 0.6rem;
    }
  }
}
