.eng-mobileMenu {
  display: none;
  position: relative;

  &__btn {
    cursor: pointer;
    display: flex;
    height: calc(3rem * 0.4);
    width: 3rem;
    position: relative;
    z-index: 999;

    &.open {
      & > span {
        background-color: $white;

        &:nth-child(1) {
          top: 50%;
          transform: rotate(25deg) translateY(-50%);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          bottom: 50%;
          transform: rotate(-25deg) translateY(50%);
        }
      }
    }

    & > span {
      background-color: $color-1;
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      right: 0;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      width: 100%;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  &__item {
    border-bottom: 1px solid $white;

    &:nth-child(1) {
      border-top: 1px solid $white;
    }

    & > a {
      color: $white;
      display: block;
      font-size: 1rem;
      font-weight: 700;
      padding: 1rem 0;
      text-align: center;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__list {
    background-color: $color-1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 60%;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    z-index: 998;

    &.open {
      pointer-events: auto;
      transform: none;
    }

    & > ul {
      list-style: none;
    }
  }
}

@include media_m {
  .eng-mobileMenu {
    display: block;
  }
}

@include media_xs {
  .eng-mobileMenu {
    &__btn {
      height: calc(2.7rem * 0.4);
      width: 2.7rem;

      & > span {
        height: 1.5px;
      }
    }

    &__list {
      left: 40%;
    }
  }
}
